<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><a href="<%= article_path(article) %>">Show</a></td>
      <td><a href="<%= edit_article_path(article) %>">Edit</a></td>
    </tr>
  <% end %>
</table>
<a href="<%= new_article_path %>">New</a>